/*Dokumendi stiil*/

html {
    width: 755px;
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    color: #FFF;
}

/*Pildi ning pildijalus*/

.isikuinfo {
    background-color: #333232;
    box-sizing: border-box;
    padding: auto;
    margin: auto;
}

.isikuinfo a {
    text-decoration: none;
    color: #FFF;
    font-size: 200%;
    padding: 0 25px;
}

.isikuinfo h1 {
    padding: 25px 60px;
    font-weight: 500;
    font-size: 40px;
}

.ikoonid {
    padding: 25px 50px;
}

/*Amet*/
.amet {
    background-color: #0a0a0a;
    padding: 20px 20px;
    font-size: 20px;
}

.amet p {
    padding-top: 15px;
}

/*Navigatsioon*/

.home {
    background-color: #008fe8;
}

.resume {
    background-color: #05ce02;
}

.work {
    background-color: #e8e800;
}

.contact {
    background-color: #e8001b;
}

.home, .resume, .work, .contact {
    width: 24.53%;
    height: 100px;
    padding: 25px 60px;
}

.contact i {
    padding: 0 7px;
}

.home i, .resume i, .work i, .contact i {
    color: #FFF;
    font-size: 40px;
}

/*Navigatsiooni sisu*/

/***********Home************/

.skills p, .skills h3 {
    color: #000;
    font-weight: 300;
}

.skills p {
    font-size: 20px;
}

.skills h3, .homeinfo h3 {
    font-weight: 500;
}

.skills-info {
    color: #000;
    padding: 0 35px;
    padding-top: 35px;
    padding-bottom: 10px;
}

.skills {
    padding: 25px 30px;
    padding-bottom: 65px;
}

.progress-bar {
    background-color: #05ce02;
}

.tiitel {
    margin-bottom: 5px;
    margin-top: 15px;
}

.homeinfo {
    border: 1px solid #eaeaea;
}

.pais {
    padding: 35px 35px;
    background-color: #008fe8;
}

/*Jalus*/

.jalus {
    background-color: #333232;
    height: 100px;
    padding: 40px 50px;
}

.jalus a {
    color: #FFF;
    border: 2px solid #FFF;
    width: 120px;
    text-decoration: none;
    padding: 5px 5px;
}

/*Resume info*/

.pais2 {
    padding: 35px 35px;
    background-color: #05ce02;
}

.resume-text {
    padding: 0 35px;
    padding-top: 35px;
    padding-bottom: 10px;
}

.resume-info p, .resume-info h4, .resume-info h3 {
    color: #000;
}

.resumetabel {
    padding: 25px 5px;
    margin: 0 15px;
}

.kast {
    border: 1px solid #333232;
    padding: 20px;
}

.pos, .tel {
    color: #FFF !important;
    background-color: #333232;
    padding: 25px 10px;
}

/*Work info*/

.pais3 {
    padding: 35px;
    background-color: #e8e800;
}

.work-text {
    padding: 0 35px;
    padding-top: 35px;
    padding-bottom: 10px;
}

.work-text p, .work-text h3 {
    color: #000;
}

.work-info img {
    padding: 0 35px;
}